*.pyc
__pycache__/

local_settings.py
production_settings.py

_static/
_media/

fixtures/

# migrations will be different for different apps, so we don't want to store them
migrations/

.project
.pydevproject
.settings/

*.sqlite3
*.sqlite3.backup
