<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://chi.uc.edu/assets/favicon.ico" sizes="any">
  <link rel="stylesheet" href="https://chi.uc.edu/assets/login.css">
  <title>CHI Login</title>
</head>

<body>
  <main>
    <header>
      <h1>Sign in to:<br><b>{{ SITE_TITLE }}</b></h1>
      {% include 'user_manager/logo.svg' %}
    </header>

    {% if login_error %}
    <aside>{{ login_error }}</aside>
    {% endif %}

    {% if allow_chi_auth_login %}
    <ul>
      <li><label>faculty, staff, students:</label> <span>sign in with your <b>UC</b> credentials</span></li>
      <li><label>all others:</label> <span>sign in with your <b>CHI</b> credentials</span></li>
    </ul>
    {% endif %}

    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="username" id="user-id" placeholder="Username" autofocus>
      <input type="password" name="password" id="pw" placeholder="Password">
      <button type="submit" name="submit">Log In</button>
    </form>

    <footer>
      <h2>Need Help?</h2>
      <ul>
        {% if allow_chi_auth_login %}
        <li><a href="{{ UC_PASSWORD_MANAGER_LINK }}" target="_blank">Forgot UC Central password</a></li>
        <li><a href="{{ ACCOUNT_LOOKUP_URL }}">Create CHI account or reset password</a></li>
        {% endif %}
        <li><a href="mailto:{{ CONTACT_EMAIL_ADDRESS }}">Contact CHI</a></li>
      </ul>
    </footer>
  </main>
</body>
</html>
